<% new_mode = !@job.created_at.present? %>

<%= form_for(@job, html: { :multipart => true }) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %> <span class="required">*</span><br>
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: true }, { class: "form-control" } %>
  </div>

  <div class="field">
    <%= f.label :employment_type %> <span class="required">*</span><br>
    <%= f.select(:employment_type, options_for_select(Job::EMPLOYMENT_TYPES, @job.employment_type), { prompt: true }, { class: "form-control" }) %>
  </div>

  <div class="field">
    <%= f.label :company %> <span class="required">*</span><br>
    <%= f.text_field :company, size: 30, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :logo %><br>
    <%= f.file_field :logo %>
    <% if @job.logo? %>
      <br>
      <br>
      <%= image_tag @job.logo_url(:thumb) %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, size: 45, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :position %> <span class="required">*</span><br>
    <%= f.text_field :position, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :location %> <span class="required">*</span><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %> <span class="required">*</span><br>
    <%= f.text_area :description, rows: 10, cols: 60, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :how_to_apply %>? <span class="required">*</span><br>
    <%= f.text_area :how_to_apply, rows: 5, cols: 60, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :email %> <span class="required">*</span><br>
    <%= f.text_field :email, size: 35, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.check_box :is_public %>
    <%= f.label :is_public %>?<br>
    Whether the job can also be published on affiliate websites or not.
  </div>

  <div class="actions">
    <% if new_mode %>
      <%= f.submit "Create Job", class: "btn btn-success btn-lg" %>
    <% else %>
      <%= f.submit "Update Job", class: "btn btn-primary btn-lg" %>
      <%= link_to 'View Job', @job, class: "btn btn-warning" %>
    <% end %>
    <%= link_to 'Cancel & Back', jobs_path, class: "btn btn-default" %>
  </div>
<% end %>
