<div class="jumbotron search-panel">
  <h2>
    <label for="search-keywords">Search for a Job</label>
  </h2>
  <form class="form-inline" action="<%= search_path %>" method="get">
    <input type="text" name="query" class="form-control" id="search-keywords" aria-describedby="help-block" placeholder="Type at least 2 characters...">
    <button type="submit" class="btn btn-primary btn-lg" id="search-button">Search</button>
    <span id="help-block" class="help-block">Enter some keywords (company, country, position, ...)</span>
  </form>
</div>
<table class="table table-striped table-hover">
  <tbody>
    <% @categories.each do |category| %>
      <tr class="category" align="left">
        <th colspan="8">
          <%= link_to category.name, :controller => 'categories', :action => 'show', :slug => category.slug %>
        </th>
      </tr>
      <% category.active_jobs.each do |job| %>
        <tr>
          <td><%= Job::EMPLOYMENT_TYPES.key(job.employment_type) %></td>
          <td><%= link_to job.position, job %></td>
          <td><%= link_to job.company, job.url, { target: '_blank' } %></td>
          <td><%= job.location %></td>
          <td><%= job.created_at.strftime('%Y-%m-%d') %></td>
          <td><%= link_to 'Show', job %></td>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <% if category.no_of_jobs > 1 %>
        <tr>
          <td colspan="8" class="more-jobs">
            <p>and <%= link_to category.no_of_jobs.to_s + ' more', :controller => 'categories', :action => 'show', :slug => category.slug %></p>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
