<table>
  <tbody>
    <% @categories.each do |category| %>
      <tr class="category" align="left">
        <th colspan="8">
          <%= link_to category.name, :controller => 'categories', :action => 'show', :slug => category.slug %>
        </th>
      </tr>
      <% category.jobs.each do |job| %>
        <tr>
          <td><%= Job::EMPLOYMENT_TYPES.key(job.employment_type) %></td>
          <td><%= link_to job.position, job %></td>
          <td><%= link_to job.company, job.url, { target: '_blank' } %></td>
          <td><%= job.location %></td>
          <td><%= job.created_at.strftime('%Y-%m-%d') %></td>
          <td><%= link_to 'Show', job %></td>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <% if category.no_of_jobs > 1 %>
        <tr>
          <td colspan="8" class="more-jobs">
            and <%= link_to category.no_of_jobs.to_s + ' more', :controller => 'categories', :action => 'show', :slug => category.slug %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
