<h1><%= @job.position %> - <%= @job.location %></h1>
<p class="text-muted">
  <strong>Company:</strong> <%= link_to @job.company, @job.url, { target: '_blank' } %>,
  posted on <%= @job.created_at.strftime('%Y-%m-%d') %>,
  expired on <%= @job.expires_at.strftime('%Y-%m-%d') %>
</p>
<p>
  <span class="label label-primary"><%= Job::EMPLOYMENT_TYPES.key(@job.employment_type) %></span>
  <span class="label label-warning"><%= @job.category.name %></span>
</p>

<% if @job.logo.present? %>
  <p class="pull-right">
    <%= link_to image_tag(@job.logo_url(:thumb)), @job.logo_url, { target: '_blank' } %>
  </p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= simple_format(@job.description) %>
</p>

<p>
  <strong>How to apply:</strong>
  <%= simple_format(@job.how_to_apply) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @job.email %>
</p>

<%= link_to 'Back', jobs_path, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-primary' %>
