<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @job.category.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= Job::EMPLOYMENT_TYPES.key(@job.employment_type) %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @job.logo %>
</p>

<p>
  <strong>Url:</strong>
  <%= @job.url %>
</p>

<p>
  <strong>Position:</strong>
  <%= @job.position %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@job.description) %>
</p>

<p>
  <strong>How to apply:</strong>
  <%= simple_format(@job.how_to_apply) %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @job.is_public ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Is activated:</strong>
  <%= @job.is_activated ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Email:</strong>
  <%= @job.email %>
</p>

<p>
  <strong>Posted at:</strong>
  <%= @job.created_at.strftime('%Y-%m-%d') %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @job.expires_at.strftime('%Y-%m-%d') %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
