<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, size: 45 %>
  </div>
  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug, size: 45 %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, cols: 70, rows: 10 %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br>
    <%= f.collection_select :tag_id, Tag.all, :id, :title, prompt: true  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
