<h2>Jobs in <%= @category.name %></h2>

<% if @jobs.length > 0 %>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Company</th>
        <th>Position</th>
        <th>Location</th>
        <th>Posted at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= Job::EMPLOYMENT_TYPES.key(job.employment_type) %></td>
          <td><%= link_to job.position, job %></td>
          <td><%= link_to job.company, job.url, { target: '_blank' } %></td>
          <td><%= job.location %></td>
          <td><%= job.created_at.strftime('%Y-%m-%d') %></td>
          <td><%= link_to 'Show', job %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @jobs %>
    </div>
    <%= paginate @jobs %>
  </div>
<% else %>
  <p>There is no jobs for the category "<%= @category.name %>".</p>
<% end %>

<%= link_to 'View all jobs', jobs_path %>
